body{
	margin: 0;
	font-family: sans-serif;
	min-width:768px !important;
}
.navbar-brand{
  padding: 0px;
}

.navbar-brand img{
  margin-top: 4px;
  margin-left: 5px;
}
#logo{
	width:163px;
	height:71px;
	margin-left: 10px;
	margin-top: 15px;
	}


/*#request{
	width: 97px;
	height: 35px;
	text-align:center;
	font-size: 10px;
	font-weight: bold;
	color: #FEFEFE !important;
}*/

ul.nav a { color: #67B2FD !important;font-family: Roboto-Regular; font-weight:bold;}
ul.nav a:hover { color: lightgreen  !important; }


ul.nav p { color:#FFFFFF !important; font-family: Roboto-Bold; }
ul.nav p:hover{
	color: gray !important;
}

#base {
  background: #FF9933;
  display: block;
  height: 92px;
  margin-left: 15px;
  margin-right: 20px;
  position: relative;
  width: 140px;
  font-family: Roboto-Bold;
  text-align:center;
 }
#base:before {
  border-top: 12px solid #FF9933;
  border-left: 70px solid transparent;
  border-right: 70px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: +92px;
}


#middlerow1{
	background-color:#FFFFFF;
	padding: 1%;
	margin-top: 100px;
	margin-left: 100px;
	margin-bottom: 12px;
}
h1{
   color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 60px;
   margin-top:50px;
}
#bottomrow1{
	background-color:#66CC33;
	padding:5%;
}


img{
	max-width: 100%;
	height: 0 auto;
	display: block;
}
p{
	color:#FFFFFF;
	font-family: Roboto-Bold;
	line-height: 25px;
	font-size: 16px;

}


@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(ROBOTO-BOLD.TTF.png);
}

@font-face {
  font-family: Bondoluo-Peek;
  src: url(BondoluoPeek.ttf);
}


@media (max-width: 1400px){
	#logo{
	width:163px;
	height:71px;
	margin-left: 10px;
	margin-top: 15px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 60px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 18px;
	}
}

@media (max-width: 1300px){

#logo{
	width:160px;
	height:68px;
	margin-left: 10px;
	margin-top: 15px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 55px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 16px;
	}
}

@media (max-width: 1200px){
	#logo{
	width:155px;
	height:66px;
	margin-left: 10px;
	margin-top: 15px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 50px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 14px;
	}
}

@media (max-width: 1050px){
	#logo{
	width:150px;
	height:64px;
	margin-left: 10px;
	margin-top: 15px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 45px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 12px;
	}
}

@media (max-width: 900px){
	
	#logo{
	width:145px;
	height:62px;
	margin-left: 10px;
	margin-top: 15px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 40px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 800px){
#logo{
	width:140px;
	height:60px;
	margin-left: 10px;
	margin-top: 15px;
}	
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 35px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 768px){
	#logo{
	width:81px;
	height:35px;
	margin-left: 10px;
	margin-top: 10px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 30px;
   margin-top: 8px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 700px){
	#logo{
	width:78px;
	height:32px;
	margin-left: 10px;
	margin-top: 10px;
}
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 25px;
   margin-top: 0px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

/*@media (max-width: 500px){
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 20px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 400px){
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 20px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 300px){
	
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 20px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}

@media (max-width: 200px){
	h1{
		color:#69B4FF;
   font-family: Bondoluo-peek;
   font-size: 20px;
	}

	p{
		color:#FFFFFF;
		font-family: Roboto-Bold;
		line-height: 25px;
		font-size: 10px;
	}
}*/