/*#req{
  background-color:#343945;
  margin-right:26px;
}
*/
body{
  margin: 0;
}


#call{
  margin-right:40px;
  text-align:right;
  font-family:sans-serif;
  font-size:14px;
  color:#666666;
}
.navbar-default{
  border-color: lightgray;
}

@font-face {
  font-family: ROBOTO-BOLD;
  src: url(ROBOTO-BOLD.TTF.png);
}

@font-face {
  font-family: Roboto-Regular;
  src: url(Roboto-Regular.ttf);
}

@font-face {
  font-family: Bondoluo-Peek;
  src: url(BondoluoPeek.ttf);
}

#request{
  width: 80px;
  height: 35px;
  text-align:center;
  font-size: 11px;
  color:#E3E4E5;
  font-family: Roboto-Regular;
}


#request:hover{
  color: gray !important;
}
ul.nav a { color: #67B2FD !important;font-family: Roboto-Regular; font-weight:bold;}
ul.nav a:hover { color: lightgreen  !important; }


.navbar-brand{
  padding: 0px;
}

.navbar-brand img{
  margin-top: 5px;
  margin-left: 5px;
}

#logo{
  width:163px;
  height:71px;
  margin-left: 10px;
  margin-top: 10px;
  }


/*.navbar-toggle{
  margin:0 auto;
}*/

/*.navbar-nav, .navbar-nav li, .navbar-nav li a {
  height: 80px;
  line-height: 80px;
}*/

/*.navbar-nav li a {
  padding-top: 0px;
  padding-bottom: 0px;
}*/

#smallrow3{
  background-color:#FFA041;
  height :8px !important;
  margin-top:110px !important;
}

#text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  padding-top: 10%;
  padding-left: 10%;
  font-size: 14px;
  }

#detail{
  background-color:#343945;
  margin-left:70px;
}

#blank{
  background-color: white;
}

#name,#email,#telephone,#project{
  background-color:#CBCBCB;
  width:75%;
}

input[type="text"]{
  display: block;
  margin: 0 auto;
}

input[type="email"]{
  display:block;
  margin: 0 auto;
}

input[type="telephone"]{
  display: block;
  margin: 0 auto;
  }

textarea{
  display: block;
  margin: 0 auto;
}

/*Used to change the color of the Placeholder Text*/
#name::-webkit-input-placeholder{ color:#666A72;}

#email::-webkit-input-placeholder{ color:#666A72;}

#telephone::-webkit-input-placeholder{ color:#666A72;}

#project::-webkit-input-placeholder{ color:#666A72;}


input[type=text].required::-webkit-input-placeholder:after{
  color: red;
  content: '*';
  vertical-align: top;
  font-size: medium;
}

input[type=email].required::-webkit-input-placeholder:after{
  color: red;
  content: '*';
  vertical-align: top;
  font-size: medium;
}

input[type=telephone].required::-webkit-input-placeholder:after{
  color: red;
  content: '*';
  vertical-align: top;
  font-size: medium;
}



#bottomrow3{
  background-color:#343945;
  padding:3%;
}

.custom{
  width: 250px !important;
  height: 80px;
  text-align:center;
  font-size: 20px !important;
  background-color:#FFA041;
  font-family:Roboto-Regular;
  color: white;
}

/*.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;
}*/

.rad > input{ /* HIDE ORG RADIO */
  visibility: hidden;
  position: absolute;
}
/* RADIO STYLES */
.rad > i{     /* DEFAULT <i> STYLE */
  display: inline-block;
  vertical-align: middle;
  width:  16px;
  height: 16px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 9px #fff;
  border: 0px solid orange;
  background: gray;
  padding: 3px;
  margin-left: 3px !important;
}

.rad:hover > i{ /* HOVER <i> STYLE */
  border-radius: inset 0 0 0 3px #fff;
  background: white;
  border-color: orange;
  border-width: 2px;

}
.rad > input:checked + i{ /* (RADIO CHECKED) <i> STYLE*/ 
  box-shadow: inset 0 0 0 0px #fff;
  background: url('images2/tick.png');
  border-height:0px;
  background-position: center;
}

#rad_but{
  margin-left:62.5%;
}
/*#butt3{ 
  margin-right:4%;
}*/






@media (max-width: 1400px) {

#logo{
  width:163px;
  height:71px;
  margin-left: 10px;
  margin-top: 10px;
  }

/*
  #smallrow3{
    margin-top:100px;
}*/

  #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 14px !important;
  }
  .custom{
  width: 200px !important;
  height: 60px;
  text-align:center;
  font-size: 20px !important;
  background-color:#FFA041;
  font-family:Roboto-Regular;
  color: white;
}
#detail{
  margin-left:67px !important;
}
#rad_but{
  margin-left: 63%;
}
#butt3{ 
  margin-right:3%;
}

}


@media (max-width: 1300px) {
  #logo{
  width:160px;
  height:68px;
  margin-left: 10px;
  margin-top: 10px;
  }

 /*#smallrow3{
    margin-top:100px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 13px !important;
  }

  .custom{
  width: 180px !important;
  height: 55px;
  text-align:center;
  font-size: 18px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:65px !important;
}

#rad_but{
  margin-left: 63%;
}
}



@media (max-width: 1200px) {
  #logo{
  width:155px;
  height:66px;
  margin-left: 10px;
  margin-top: 15px;
  }
 /*#smallrow3{
    margin-top:100px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 12px !important;
  }

  .custom{
  width: 160px !important;
  height: 50px;
  text-align:center;
  font-size: 16px !important;
  background-color:#FFA041;
  font-family:Roboto-Regular;
  color: white;
}
#detail{
  margin-left:55px !important;
}
#rad_but{
  margin-left: 61.5%;
}


}


@media (max-width: 1100px) {
  #logo{
  width:150px;
  height:64px;
  margin-left: 10px;
  margin-top: 15px;
  }
 /*#smallrow3{
    margin-top:100px;
}
*/
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 11px !important;
  }

  .custom{
  width: 150px !important;
  height: 45px;
  text-align:center;
  font-size:14px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:45px !important;
}
#rad_but{
  margin-left: 61%;
}
#butt3{ 
  margin-left:1%;
}
}

@media (max-width: 1000px) {
#logo{
  width:145px;
  height:62px;
  margin-left: 10px;
  margin-top: 15px;
  }
  /*#smallrow3{
    margin-top:100px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 10px !important;
  }

  .custom{
  width: 140px !important;
  height: 40px;
  text-align:center;
  font-size: 12px !important;
  background-color:#FFA041;
  font-family:ROBOTO-BOLD;
  color: white;
}
#detail{
  margin-left:40px !important;
}

#rad_but{
  margin-left: 61%;
}

#butt3{ 
  margin-left:4%;
}
}

@media (max-width: 900px) {
 /* #req{
    margin-right:10px;
}*/

#logo{
  width:140px;
  height:60px;
  margin-left: 10px;
  margin-top: 15px;
  }
  /*#smallrow3{
    margin-top:100px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 9px !important;
  }

  .custom{
  width: 130px !important;
  height: 35px;
  text-align:center;
  font-size: 10px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:35px !important;
}

#rad_but{
  margin-left: 61%;
}

}

@media (max-width: 800px) {
  #logo{
  width:138px;
  height:58px;
  margin-left: 10px;
  margin-top: 15px;
  }
 
  /*#smallrow3{
    margin-top:100px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 8px !important;
  }

  .custom{
  width: 120px !important;
  height: 30px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:30px !important;
}

#rad_but{
  margin-left: 61%;
}

}

@media (max-width: 768px) {

  #logo{
  width:81px;
  height:35px;
  margin-left: 10px;
  margin-top: 10px;
  }
  #smallrow3{
    margin-top:75px !important;
}

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 7px !important;
  }

  .custom{
  width: 110px !important;
  height: 25px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:20px !important;
}

}

@media (max-width: 600px) {

#logo{
  width:78px;
  height:32px;
  margin-left: 10px;
  margin-top: 10px;
  }
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6px !important;
  }

  .custom{
  width: 100px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-right:10px !important;
}
}



@media (max-width: 500px) {

  #logo{
  width:74px;
  height:30px;
  margin-left: 10px;
  margin-top: 10px;
  }
  /*#smallrow3{
    margin-top:75px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6px !important;
  }

  .custom{
  width: 100px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-right:5px !important;
}
}

@media (max-width: 414px) {
  /*#smallrow3{
    margin-top:75px;
}*/

   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6px !important;
  }

  .custom{
  width: 100px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-right:5px !important;
}

}

@media (max-width: 384px) {
 /* #smallrow3{
    margin-top:75px;
}
*/
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6px !important;
  }

  .custom{
  width: 100px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Robto-Regular;
  color: white;
}
#detail{
  margin-right:5px !important;
}
}


@media (max-width: 360px) {
/*  #smallrow3{
    margin-top:75px;
}
*/
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 6px !important;
  }

  .custom{
  width: 100px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-right:5px !important;
}
#rad_but{
  margin-left: 50%;
}
}



@media (max-width: 320px) {
/*#smallrow3{
    margin-top:75px;
}*/
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 5px !important;
  }

  .custom{
  width: 80px !important;
  height: 20px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-right:3px !important;
}
#rad_but{
  margin-left: 40%;
}
}

@media (max-width: 220px) {
/*#smallrow3{
    margin-top:75px;
}*/
   #text1{
  background-color: white;
  font-family: Roboto-Regular;
  color:#343945;
  text-align: left;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 5px !important;
  }

  .custom{
  width: 60px !important;
  height: 10px;
  text-align:center;
  font-size: 9px !important;
  background-color:#FFA041;
  font-family: Roboto-Regular;
  color: white;
}
#detail{
  margin-left:2px !important;
}

}

/*.img-responsive{
  max-width: 100%;
  height: auto;#343945;
  display: block;
}*/


/*#middlerow3{
   background-color:white;
   padding:4%;
   text-align: center;
   font-family:;
}*/



/*@media (max-width: 2400px) {

   h3{ 
    font-size:50px !important;
    color:white;
    text-align:left;
    font-family:Roboto-Regular;
     }

}

@media (max-width: 2000px) {

   h3{ 
    font-size:45px !important;
    color:white;
    text-align:left;
    font-family:Roboto-Regular;
     }

}


@media (max-width: 1830px) {

   h3{ 
    font-size:40px !important;
    color:white;
    text-align:left;
    font-family:Roboto-Regular;
     }

}

@media (max-width: 1600px) {

   h3{ 
    font-size:35px !important;
    color:white;
    text-align:left;
    font-family:Roboto-Regular;
     }

}
*/


/*h3{ 
    font-size:80px !important;
    color:white;
    text-align:left;
    font-family: Bondoluo-Peek;
     }*/